.student-question-container {
  display: flex;
  height: 100%;
  width: 100%;
}

.student-questions-container {
  background-color: lightblue;
  height: 100%;
  width: 50%;
}

.student-question-modal-container {
  background-color: purple;
  height: 100%;
  width: 50%;
}