.admin-interview-student-container {
  background-color: #0099ff;
  display: flex;
  height: 100%;
  width: 100;
}

.admin-student-search-container {
  background-color: blue;
  width: 50%;
}

.admin-selected-student-modal-container {
  background-color: purple;
  width: 50%;
}

