.box-fix {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.question-container {
  position: fixed;
  top: $nav-height; bottom: 0;
  width: 100vw;
  transition: transform 0.5s linear;
}

.question-container-post {
  transform: translate(-100vw, 0);
}

.deck-btn-panel {
  // background: $card-bg;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  position: fixed;
  bottom: 2rem;
  top: calc(100% - 5rem);
  left: calc(100% - 30% + 4rem);
}
@media only screen and (max-width: 800px) {.deck-btn-panel {display: none;}}
@media only screen and (min-width: 800px) {.deck-btn-panel {left: calc(100% - 20% + 4rem);}}
@media only screen and (min-width: 1400px) {.deck-btn-panel {left: calc(100% - 31.2% + 4rem);}}

.back-btn {
  height: 2rem; width: 2rem;
  background: $accent-bg;
  border-radius: 1rem;
  border: 0;
  color: $accent-fg;
  font-size: 1.5rem;
  cursor: pointer;
  margin-right: 1rem;
}
.back-btn:focus {outline: 0;}
.back-btn:hover {background: $accent-hover;}

.end-btn {
  height: 2rem;
  background: $highlight-bg;
  border-radius: 0.2rem;
  border: 0;
  color: $highlight-fg;
  font-size: 1.5rem;
  cursor: pointer;
}
.end-btn:focus {outline: 0;}
.end-btn:hover {background: $highlight-hover;}

.end-container {
  position: fixed;
  top: 5rem; bottom: 2rem;
  left: 2rem; right: 2rem;
  background: $card-bg;
  border-radius: 1rem;
  transition: transform 0.5s linear;
}

.end-container-pre {
  transform: translate(100vw, 0);
}

#header-final-remarks {
  color: $card-fg;
  font-size: 2rem;
  font-weight: 300;
  position: absolute;
  bottom: calc(30% + 6rem); left: 2rem;
}

.interview-remarks {
  resize: none;
  font-size: 1.5rem;
  color: $card-fg;
  background: transparent;
  border-top: 0.2rem solid white;
  border-bottom: 0.2rem solid white;
  border-left: none; border-right: none;

  position: absolute;
  bottom: 2rem; left: 2rem;
  width: calc(100% - 13rem);
  height: 40%;
}
.interview-remarks:hover {background: rgba(255,255,255,0.1);}
.interview-remarks:focus {outline: none; background: rgba(50,50,50,0.2);}

.interview-score {
  color: $card-fg;
  position: absolute;
  bottom: 7rem; right: 1.5rem;
  top: calc(40% + 7.5rem);
}

.interview-submit {
  position: absolute;
  left: 2rem;
  bottom: -5rem;
  width: 5rem; height: 5rem;
  background: $accent-bg;
  border: 0;
  border-radius: 5rem;
  color: $accent-fg;
  font-size: 4.5rem;
  line-height: 2rem;
  margin: 0; padding: 0;
  cursor: pointer;
}
.interview-submit:focus {outline: 0;}


