.login-form-container {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.login-form {
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-around;
  width: 20%;
}