.shadow {box-shadow: 0 16px 24px 2px rgba(0,0,0,0.15), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);}

.nav {
  align-items: center;
  background: $card-bg;
  display: flex;
  height: 3rem;
  justify-content: space-between;
  z-index: 999;
}

.nav a {
  color: $card-fg;
  font-size: 2rem;
  margin: 0 2rem;
  text-decoration: none;
}
