.interview-student-container {
  background-color: #0099ff;
  display: flex;
  height: 100%;
  width: 100;
}

.student-search-container {
  background-color: brown;
  width: 50%;
}

.selected-student-modal-container {
  background-color: pink;
  width: 50%;
}

