.takeaways {
  text-align: center;
}

.interview-card {
  padding: 1rem;
  border-radius: .2rem;
  border: 2px solid $card-bg;
  margin-top: 2rem;
  cursor: pointer;
  box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.75);
}

.interview-card:hover {
  background: $card-bg;
  transition: .2s ease-in;
}

.interview-card:hover > h3 {
  color: #FFFFFF;
}

.details {
  display: none;
}

.details.shown {
  display: block;
}

.shown {
  background: $card-bg;
}

.note-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.note-summary {
  width: 30%;
  text-align: center;
  padding: 0 15px;
}