.student-interview-modal-content {  
  background: $card-bg;
  color: white;
  padding: 1rem;
  border-radius: .2rem;
  border: 2px solid $card-bg;
  margin-top: 2rem;
  box-shadow: -1px 4px 5px 0px rgba(0,0,0,0.75);
  height: 80%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-around;
}

.note-summary {
  width: 40%;
  border: 1px solid white;
  margin-bottom: 1.5rem;
}

.interview-header {
  border-bottom: 3px solid white;
  height: 15%;
  margin-bottom: 1.5rem;
  overflow: scroll;
  width: 100%;
}

.highlight {
  color: $highlight-bg;
}