.dropdown-container {
  padding-bottom: 3rem; 
  padding-top: 1rem;
}

.cohort-search {
  border: 2px solid $card-bg;
  font-size: 15px;
}

.cohort-search::placeholder {
  text-align: center;
}

.select-program-btn {
  background: $highlight-bg;
  border-radius: 0.2rem;
  border: 0;
  color: $highlight-fg;
  font-size: 1.5rem;
  cursor: pointer;
}
.select-program-btn:focus {outline: 0;}
.select-program-btn:hover {background: $highlight-hover;}

.cohort-dropdown {
  position: absolute;
  width: 300px;
  z-index: 2;
  border: 1px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
  display: none;
}

.cohort-dropdown.focused {
  display: block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

li {
  padding: 8px 12px;
  color: $card-bg;
}

li:hover {
  background-color: rgba(0, 0, 0, 0.14);
  cursor: pointer;
}

.select-program {
  color: $card-bg;
  padding-left: 5px;
  margin: 0;
}

.student-search-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}