$card-bg:#48a5a0;
$card-fg: white;
$card-other: #056473;
$accent-bg: #f03750;
$accent-hover: #f55573;
$accent-fg:#9b0528;
$highlight-bg: #faaf05;
$highlight-hover: #f5b41e;
$highlight-fg:#965f0a;
$error: #b70107;

$font: 'Raleway', sans-serif;
