@import "variables";
@import "App";
@import "NavBar";
@import "Dashboard";
@import "HomePage";
@import "AdminQuestions";
@import "AdminAddQuestionForm";
@import "LoginForm";
@import "Interview";
@import "InterviewQuestion";
@import "StudentSearch";
@import "FoundStudent";
@import "StudentInterview";
@import "StudentInterviewContainer";
@import "StudentInterviewModal";
@import "Question";
@import "StudentQuestionContainer";

body {
  background: #d4d6d9;
  font-family: $font
}

.main-container {
  color: white;
  width: 97vw;
  height: 100vh;
}

.side-margins {
   padding: 0% 15% 2% 17%;
}

