@import "variables";
@import "App";
@import "NavBar";
@import "Dashboard";
@import "HomePage";
@import "AdminQuestions";
@import "AdminAddQuestionForm";
@import "LoginForm";
@import "Interview";
@import "InterviewQuestion";
@import "StudentSearch";
@import "FoundStudent";
@import "StudentInterview";
@import "Question";

body {
  background: #FFFFFF;
  font-family: $font
}

.main-container {
  color: white;
  width: 97vw;
  height: 100vh;
}

.side-margins {
  padding: 0% 15% 2% 17%;
  -ms-overflow-style: none;  // IE 10+
  scrollbar-width: none;  // Firefox
}
.side-margins::-webkit-scrollbar {
  display: none;  // Safari and Chrome
}
