@import "variables";
@import "App";
@import "NavBar";
@import "Dashboard";
@import "HomePage";
@import "AdminQuestions";
@import "AdminAddQuestionForm";
@import "LoginForm";
@import "Interview";
@import "InterviewQuestion";
@import "StudentSearch";
@import "FoundStudent";
@import "StudentInterview";
@import "Question";
@import "StudentInterviewModal";
@import "StudentQuestionModal";
@import "StudentQuestions";
@import "SignupForm";

body {
  background: #FFFFFF;
  font-family: $font
}

.main-container {
  color: black;
  display: flex;
  width: 100vw;
  height: 100vh;
}

.student-interview-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  padding: 1rem;
  width: 40%;
}

.student-interview-modal {
  border-left: 3px solid $card-bg;
  width: 60%;
}

.shadow {box-shadow: 0 16px 24px 2px rgba(0,0,0,0.15), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);}

.box-fix {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.side-margins {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto 0 auto;
}

