.student-interview-container {
  display: flex;
  height: 100vh;
  width:100%;
}

.student-interviews-container {
  background-color: pink;
  width: 50%;
}

.student-interview-modal-container {
  background-color: blue;
  width: 50%;
}
