.interview-container {
  display: flex;
  height: 100vh;
  width:100%;
}

.interviews-container {
  background-color: pink;
  width: 50%;
}

.interview-modal-container {
  background-color: blue;
  width: 50%;
}