.shadow {box-shadow: 0 16px 24px 2px rgba(0,0,0,0.15), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -7px rgba(0,0,0,0.2);}

.box-fix {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.card {
  background: #48a5a0;
  color: white;
  padding: 2rem;

  position: absolute;
  top: 2rem; bottom: 2rem;
  border-radius: 0.5rem;
  transition: transform 0.3s linear, opacity 0.3s linear;

  left: 5%; right: 5%; /* screen < 800px */
}

.card-question {
  font-size: 3rem;
  font-weight: 300;
  width: 90%;
  max-height: 35%;
  margin: 0;
  margin-top: 2rem;
}

.card-position {
  font-size: 4rem;
  font-weight: 400;
  margin: 0;
  position: absolute;
  top: 3rem;
  right: 3rem;
}

.header-notes {
  color: white;
  font-size: 2rem;
  font-weight: 300;
  position: absolute;
  bottom: calc(30% + 6rem); left: 2rem;
}

.card-response {
  resize: none;
  font-size: 1.5rem;
  color: white;
  background: transparent;
  border-top: 0.2rem solid white;
  border-bottom: 0.2rem solid white;
  border-left: none; border-right: none;

  position: absolute;
  bottom: 2rem; left: 2rem;
  width: calc(100% - 20rem);
  height: 40%;
}
.card-response:hover {background: rgba(255,255,255,0.1);}
.card-response:focus {outline: none; background: rgba(50,50,50,0.2);}

.card-score {
  font-size: 1.2rem;

  position: absolute;
  bottom: 10rem; right: 1.5rem;
  height: calc(40% - 8rem);
}
.card-score input {
  background: transparent;
}

.card-next-btn {
  position: absolute;
  left: calc(100% - 8rem);
  bottom: 3rem;
  width: 5rem; height: 5rem;
  background: #f03750;
  border: 0;
  border-radius: 5rem;
  color: #9b0528;
  font-size: 4.5rem;
  line-height: 2rem;
  margin: 0; padding: 0;
  cursor: pointer;

  display: none;
}
.card-next-btn:focus {outline: 0;}

@media only screen and (min-width: 800px) {
  .card {left: 20%; right: 20%;}
  .card-response {width: calc(100% - 13rem);}
  .card-next-btn {display: block;}
}
@media only screen and (min-width: 1400px) {
  .card {left: 30%; right: 30%;}
}




.card-focused {
  z-index: 0;
}

.card-first {
  z-index: -1;
  transform: translate(1rem, 0.5rem);
}

.card-second {
  z-index: -2;
  transform: translate(2rem, 1rem);
}

.card-third {
  z-index: -3;
  transform: translate(3rem, 1.5rem);
}

.card-hidden {
  z-index: -4;
  opacity: 0;
  transform: translate(4rem, 2rem);
}

.card-finished {
  z-index: 1;
  transform: translate(-100vw, 0);
}

