.box-fix {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.question-container {
  position: fixed;
  width: 100vw;
  height: calc(100vh - 3rem);
  transition: transform 0.5s linear;
}

.question-container-post {
  transform: translate(-100vw, 0);
}